.icon-group-container {
  margin-right: 50%;
  position: relative;
  top: 50px;
  transform: translateX(-50%);
}

.orange-circle-container {
  margin-right: 10px;
  position: relative;
  top: 150px;
}

.orange-circle-wrapper {
  position: absolute;
  top: -50px;
  left: -10px;
  bottom: -50px;
}

.orange-circle {
  width: 150%;
  height: 150%;
  opacity: 0.9;
}

.icon-group {
  width: 100%;
  height: 100%;
  opacity: 0.6;
}

.join-us-container {
  display: flex;
  align-items: center;
}

.heart-icon {
  height: 25px;
  width: 80px;
  margin-right: 8px;
  vertical-align: middle;
}

.join-us-button {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: none;
  border-radius: 50px;
  padding: 20px 40px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.join-us-button:hover {
  background-color: white;
  transform: translateY(-3px);
  box-shadow: 0px 3px 5px transparent;
  cursor: pointer;
}
